.shareHeader {
  :global {
    .ant-modal-header {
      background: linear-gradient(to right, #1F83DF, #FCFDFF);
      color: #fff;
    }

    .ant-modal-title {
      color: #fff;
    }

    .ant-modal-close {
      color: #1F83DF;
    }

    .ant-modal-body {
      max-height: 500px;
      overflow-y: auto;
    }

    .ant-timeline-item-content {
      top: -12px;
    }

    .ant-timeline-item-last {
      .ant-timeline-item {
        padding: 0;
      }
    }
  }
}

.shareSuccess {
  :global {
    .ant-modal-header {
      background-color: #1890FF;
      color: #fff;
      height: 46px;
    }

    .ant-modal-close-x {
      height: 46px;
      line-height: 46px;
    }

    .ant-modal-title {
      color: #fff;
    }

    .ant-modal-footer {
      text-align: center;
    }

    .ant-modal-body {
      font-weight: 700;
      font-size: 22px;
      text-align: center;
    }

    .ant-modal-close {
      color: #fff;
    }
  }
}

.successBtn {
  background-color: #1890FF;
  width: 80px;
  height: 32px;
  border-radius: 4px;
  border: 0;
  color: #fff;
}
