@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';
@import '../../theme/darkTheme.less';

.tableListForm {
  background-color: @component-background;
  padding: 16px 24px;
  margin: 16px 0;

  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

.tableListFormTb {
  //height: 130px;
  overflow: hidden;
}

@media screen and (max-width: @screen-xl) {
  .tableListFormTb {
    //height: 130px;
  }
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}

.tableListOperator {
  background-color: @body-background;
  margin-bottom: 48px;

  button {
    margin-right: 8px;
  }
}

.statistic {
  text-align: right;
  height: 30px;
  line-height: 30px;
  background-color: #001529;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 24px;
  z-index: 1005;
  //width: ~'calc(100% - 256px)';
  left: 200px;
}

.listPagination {
  position: absolute;
  left: 0;
  color: @text-color-secondary;

  :global {
    .ant-pagination-total-text {
      position: absolute;
      left: 0;
      color: @text-color-secondary;
    }
  }
}

.listStandardTable {
  padding: 0 24px;
  position: relative;
}

.listPageWrap {
  background-color: @body-background;

  .listPageHeader {
    background: @table-header-bg;
    padding: 16px 24px;
    //border: 1px solid #e8e8e8;
    //border-top: none;
    position: relative;
    margin-top: 16px;

    a {
      font-size: @font-size-lg;
      color: @heading-color;
      line-height: 26px;

      &:hover {
        color: @link-active-color;
      }
    }

    .listPageHeaderCurrent {
      //font-size: @font-size-lg;
      font-weight: bold;
      color: @primary-color;
    }

    .UnlistPageHeaderCurrent{
      font-weight: bold;
      color: @title-color;
    }

    span {
      padding: 0 8px;
    }

    .typeButtonsArea {
      float: right;

      button {
        margin-right: 16px;

        span {
          padding: 0;
          line-height: 26px;
          margin-top: -3px;
          display: block;
        }
      }
    }
  }
}

.cascaderPopup {
  :global {
    .ant-cascader-menu {
      max-width: 450px;

      li {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.onlyDetail {
  :global {
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      &:first-child {
        display: none;
      }
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab.ant-tabs-tab-active {
      display: inline-block;
    }
  }
}
.unclick{
  color: #bcbcbc!important;
  cursor: not-allowed;
}

.search {
  width: 260px;
  float: left;
  margin: 4px 0 0 12px;
}
.empty {
  background: @body-background!important;
}
.searchForm {
  width: calc(~'100% - 260px');
  float: left;
  border-right: 1px solid @body-background;
  overflow: hidden;
}
.policeDataCard{
  :global{
    .ant-card-body{
      background-color:@body-background;
    }
  }
}
