@import "~antd/lib/style/themes/default.less";

.pagination {
  position: absolute;
  left: 0;
  color: @text-color-secondary;

  :global {
    .ant-pagination-total-text {
      position: absolute;
      left: 0;
      color: @text-color-secondary;
    }
  }
}

.standardTable {
  //padding: 0 24px;
  position: relative;
}