.darkBox,.lightBox{
  border-radius: 10px;
  overflow: hidden;
  margin-top: 16px;
}
.darkBox{
  background: #252c3c;
}
.lightBox{
  background: #fff;
}
.detailBox{
  overflow: hidden;
  width: 100%;
  .videoBox{
    width: calc(~'100% - 400px');
    max-width: 1000px;
    float: left;
  }
  .videoWord{
    width: 400px;
    float: left;
  }
  .video{
    width: 100%;
  }
  .title{
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    height: 58px;
    line-height: 40px;
    padding: 10px;
  }
  .word{
    padding: 10px;
    :global{
      .ant-col{
        margin: 10px 0;
      }
    }
  }
}
@media screen and (min-width: 1680px) {
  .detailBox{
    .videoWord {
      width: calc(~'100% - 1000px');
    }
    .title{
      padding-left: 20px;
    }
    .word {
      padding: 10px 20px;
    }
  }
}
.radioBox{
  margin:20px;
}
.addBtn{
  float: right;
  margin-right: 20px;
}
