@primary-color-dark: #252c3c;
@menu-dark-color: #ccc;
@white: #fff;
@transparent: transparent;
@no-box-shadow: none;
@primary-color-bg: #171925;
@highlight-color: #3285ff;
@table-footer-bg: #b2d8ff;
@border-radius: 0;
body {
  color: #fff;
}
.dark {
  :global {
    .ant-menu {
      background: @primary-color-dark;
      color: @menu-dark-color;
      border-top: 2px solid @primary-color-bg;
      padding: @border-radius!important;
      a {
        color: @menu-dark-color;
      }
      .ant-menu-item{
        margin: @border-radius;
      }
      .ant-menu-item-selected {
        color: @white;
        background-color: @transparent;
        border-right: 0 !important;
      }
    }
    .ant-layout-sider {
      background: @primary-color-bg;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
      background: @primary-color-bg;
      box-shadow: @no-box-shadow;
    }
    .ant-menu-submenu-active {
      color: @menu-dark-color;
    }
    .ant-pro-sider-menu-sider {
      box-shadow: @no-box-shadow;
    }
    .ant-pro-global-header {
      background: @primary-color-dark;
    }
    .ant-pro-sider-menu-logo {
      background: @primary-color-dark!important;
    }
    .ant-card {
      background: @primary-color-dark;
    }
    .ant-card-bordered {
      border: 2px solid @primary-color-bg;
    }
    .ant-layout {
      background: @primary-color-bg;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      background: @primary-color-dark;
      color: @white;
      border-radius: @border-radius;
      border-right: 1px solid @primary-color-bg!important;
      &:last-child {
        border-right: @border-radius;
      }
    }
    .antd-pro-components-navigation-index-card .ant-tabs-tab .anticon-close {
      color: @white!important;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
      background: @highlight-color;
      border-right: @border-radius;
    }
    .ant-tabs-ink-bar {
      background-color: @table-footer-bg;
    }
    .ant-card-body {
      color: @white;
    }
  }
}
