@import '~antd/lib/style/themes/default.less';
@import '../../../utils/utils.less';

.title {
  color: #fff;
  font-weight: bold;
  line-height: 56px;
  padding-left: 16px;
  //background-color: #CDE8FA;
  font-size: 16px;
  background: linear-gradient(to right, #1f83df, #fcfdff);
}

.message {
  background-color: #fff;
  border-bottom: 1px solid #108ee9;
  padding: 16px 24px;
  position: relative;
}

.clsj_time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.superve {
  display: inline-block;
  overflow: hidden;

  :global {
    .ant-steps {
      display: block;
    }

    .ant-steps-item {
      width: 17%;
    }

    .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-description {
      max-width: 165px;
    }
  }
}

.detailBoxScroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.TopMenu {
  margin-left: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  //background-color: #3D63D1 !important;
  //border: 1px solid #3D63D1 !important;
  //color: #fff !important;
}

.connectBtn {
  background-color: 'linear-gradient(#0086FA, #03A3FF)';
}

.xqrow {
  border-bottom: 1px solid #171a26;
}

.xqcol {
  padding: 12px;
}

.detailBox {
  border-radius: 10px;
  overflow: hidden;
}

.lightBox {
  :global {
    .ant-card-head-title {
      background: #fff !important;
      color: #3D63D1 !important;
    }

    .ant-card-body {
      border-bottom: 1px solid #e6e6e6 !important;
    }
  }

  .TopMenu {
    background-color: #3D63D1 !important;
    border: 1px solid #3D63D1 !important;
    color: #fff !important;
  }

  .xqrow {
    border-bottom: 0;
  }
}
