@import '~antd/es/style/themes/default.less';
@import '../../../theme/darkTheme';

.btnAdd {
  float: right;
}

.modalStyle {
  :global {
    .ant-modal-header {
      background: #1890ff;
    }

    .ant-modal-title,
    .ant-modal-close {
      color: #fff;
    }

    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-transfer-list {
      width: 306px;
      height: 280px;
    }

    .ant-transfer {
      padding: 5px 30px;
    }
  }
}
.transfer{
  :global{
    .ant-transfer-list-content-item{
      background: #171925!important;
    }
    .ant-transfer-list-content-item-disabled{
      color: rgba(255,255,255,0.5);
    }
  }
}
.boxColor {
  width: 28px;
  height: 28px;
  margin-top: 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  cursor: pointer;
}

.none {
  display: none;
}

.jgName {
  margin: 8px 0px 8px 80px;
  color: @white;
}

.detailBox {
  min-height: 600px;
  margin: 16px 0 12px;
}

.formBoxBorder {
  padding: 40px;
  border-bottom: 1px solid @body-background;

  :global {
    .ant-form-item {
      margin: 10px 0 !important;
    }
    .ant-select-disabled {
      .ant-select-selection {
        background-color: #1e222f;
        opacity: 1;
      }
      .anticon {
        display: none;
      }
    }
    .ant-input-disabled{
      background-color: #1e222f;
    }
  }
}

.formBox {
  padding: 40px;

  :global {
    .ant-form-item {
      margin: 10px 0 !important;
    }
    .ant-select-disabled {
      .ant-select-selection {
        background-color: #1e222f;
        opacity: 1;
      }
      .ant-select-selection__choice{
        background: #252c3c!important;
        color: #fff!important;
      }
      .anticon {
        display: none;
      }
    }
  }
}

.btns {
  padding: 12px 20px;
  float: right;

  :global {
    .ant-btn {
      width: 100px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
    }
  }
}

.qxBtn {
  background: @body-background !important;
}

.delBtn {
  background: #FF9191 !important;
}

.okBtn {
  background: linear-gradient(#4662D5, #0083FA, #03A3FF) !important;
}

.lxsm {
  margin-left: 8px;
  color: #aaa;
}

.title {
  font-size: @font-size-lg;
  font-weight: 600;
  color: @white;
  border-left: 2px solid @white;
  padding-left: 10px;
  margin: 0 0 20px 20px;
}

.darkBox, .lightBox {
  :global {
    textarea.ant-input {
      height: auto !important;
    }
  }
}

.lightBox {
  .qxBtn {
    background: #B3B3B3 !important;
  }
  .formBoxBorder{
    border-bottom: 1px solid #e6e6e6;
      :global {
        .ant-select-disabled {
          .ant-select-selection {
            background-color: #f5f5f5;
            border: 1px solid #e6e6e6;
          }
        }
        .ant-input-disabled{
          background-color: #f5f5f5;
          border: 1px solid #e6e6e6;
        }
      }
  }
  .formBox {

    :global {
      .ant-select-disabled {
        .ant-select-selection {
          background-color: #f5f5f5;
          opacity: 1;
          border: 1px solid #e6e6e6;
        }
        .ant-select-selection__choice{
          background: #f5f5f5!important;
          color: #4d4d4d!important;
        }
        .anticon {
          display: none;
        }
      }
    }
  }
  .okBtn {
    background: linear-gradient(#3D63D1, #333FE4) !important;
  }

  :global {
    .ant-input, .ant-select-selection, .ant-calendar-picker-input {
      background: #FAFAFA;
      border: 1px solid #DEDEDE;
    }

    .ant-select-selection__choice {
      background-color: #E6E6E6;
    }
  }
  .transfer{
    :global{
      .ant-transfer-list-content-item{
        background: #fff!important;
      }
      .ant-transfer-list-content-item-disabled{
        color: rgba(0,0,0,0.25);
      }
    }
  }
}