@import "~antd/lib/style/themes/default.less";
@import "../../theme/darkTheme";

.pagination {
  //position: absolute;
  //right: 370px;
  //width: 300px;
  //text-align: right;
  color: #999;

  :global {
    .ant-pagination-total-text {
      position: absolute;
      left: 0;
      color: @text-color-secondary;
    }
  }
}

.standardTable {
  //padding: 0 24px;
  position: relative;
  min-height: 400px;
}

.box {
  overflow: hidden;
  padding: 24px;
  margin: 16px 0 12px;

  :global {
    .ant-divider-horizontal.ant-divider-with-text-left {
      color: #fff;
    }

    .ant-divider {
      border-top: 1px solid @body-background;
    }

    .antd-pro-charts-water-wave-waterWave {
      //background-image: linear-gradient(#0391fd,#36a6ff, #7fd6ff,#36a6ff,#0391fd);
      border-radius: 50%;
    }
  }
}

.leftBox {
  float: left;
  width: 75%;
  position: relative;

  :global {
    .ant-transfer{
      color: #fff;
      padding: 24px 0;
      width: 90%;
      position: relative;
      margin-left: 5%;
      left: 0;
    }
    .antd-pro-charts-water-wave-text {
      h4 {
        display: none;
      }
    }
  }

  .zf {
    color: #fff;
    line-height: 26px;
    font-size: 20px;
  }

  .fs {
    color: #fff;
    line-height: 32px;
    font-size: 30px;
  }
}

.rightBox {
  float: left;
  width: 25%;
  border-left: 1px solid @body-background;
  height: 650px;
  position: relative;
  padding: 0 20px;
}

@media (max-width: 1900px) {
  .leftBox {
    width: 70%;
  }

  .rightBox {
    width: 30%;
  }
}

@media (max-width: 1440px) {
  .leftBox {
    width: 65%;
  }

  .rightBox {
    width: 35%;
  }
}

.topDetail {
  margin-top: 16px;
  line-height: 30px;

  a {
    text-decoration: underline;
  }
}

.khjl {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.redioGroup {
  position: absolute;
  top: 0;
  right: 30px;

  :global {
    .ant-radio-button-wrapper:not(:first-child)::before {
      background: transparent !important;
    }

    .ant-radio-button-wrapper:first-child {
      border-left: 0;
    }

    .ant-radio-group-solid, .ant-radio-button-wrapper-checked {
      outline: none !important;
      background: transparent;
    }

    .ant-radio-button-wrapper {
      border-color: #1890ff;
      color: #fff;
      height: 28px;
      line-height: 28px;
      padding: 0 10px;
      border-right: 1px solid @component-background;

      &:last-child {
        border-right: 0;
      }
    }

    .ant-radio-button-wrapper-checked {
      background: #1890ff !important;
      color: #fff !important;
    }
  }
}

.timeLine {
  margin: 20px 0 0 24px !important;
  height: 600px;
  overflow-y: auto;
  padding: 2px 0;
}

.tableTransferBox {
  :global {
    .ant-pagination {
      display: none !important;
    }

    .ant-transfer-list {
      padding: 0 !important;
      width: 307px !important;
      height: 360px !important;
    }

    .ant-transfer-list-header {
      display: none;
    }

    .ant-table-body, .ant-table-tbody > tr.ant-table-row-selected td, .ant-table-content .ant-table-header {
      background: @component-background !important;
      border: 0;
    }

    .ant-table-header {
      margin-bottom: -7px !important;
    }

    .ant-table-thead > tr > th {
      background: @component-background !important;
    }

    .ant-table-content .ant-table-row:last-child td {
      border: 0 !important;
    }

    .ant-table-tbody > tr > td {
      height: 40px !important;
    }
  }
}

.title {
  font-size: 16px;
  border-left: 3px solid #fff;
  padding-left: 10px;
  margin-bottom: 20px;
}

.typeColorRed {
  :global {
    .ant-timeline-item-head {
      background: #FF8080;
    }
  }
}

.typeColorOrange {
  :global {
    .ant-timeline-item-head {
      background: #FFD086;
    }
  }
}

.typeColorGreen {
  :global {
    .ant-timeline-item-head {
      background: #8cffa7;
    }
  }
}

.typeColorBlue {
  :global {
    .ant-timeline-item-head {
      background: #7dc6ff;
    }
  }
}

.btns {
  padding: 12px 20px;
  float: right;

  :global {
    .ant-btn {
      width: 100px;
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      background-image: linear-gradient(#4662D5, #0083FA, #03A3FF);
    }
  }
}

.lightBox {
  .typeColorRed {
    :global {
      .ant-timeline-item-head {
        background: #F94949;
      }
    }
  }

  .typeColorOrange {
    :global {
      .ant-timeline-item-head {
        background: #ffbc3b;
      }
    }
  }

  .typeColorGreen {
    :global {
      .ant-timeline-item-head {
        background: #0c0;
      }
    }
  }

  .title {
    border-left: 3px solid #4662D5;
    color: #4662D5;
  }

  .zf {
    color: #4D4D4D;
  }

  .fs {
    color: #4D4D4D;
  }

  .box {
    :global {
      .ant-divider {
        border-top: 1px solid #e6e6e6;
      }
    }
  }

  .rightBox {
    border-left: 1px solid #e6e6e6;
  }

  .btns {
    :global {
      .ant-btn {
        background-image: linear-gradient(#4662D5, #3C3EE9);
      }
    }
  }

  .tableTransferBox {
    :global {
      .ant-table-body, .ant-table-tbody > tr.ant-table-row-selected td, .ant-table-content .ant-table-header {
        background: #fff !important;
      }

      .ant-table-thead > tr > th {
        background: #F5F5F5 !important;
      }

      .ant-table-tbody > tr {
        background: #fff !important;

        &:nth-child(2n) {
          background: #f5f5fa !important;
        }
      }
    }
  }

  .redioGroup {
    :global {
      .ant-radio-button-wrapper:not(:first-child)::before {
        background: transparent !important;
      }

      .ant-radio-button-wrapper:first-child {
        border-left: 1px solid #ccc;
      }

      .ant-radio-group-solid, .ant-radio-button-wrapper-checked {
        outline: none !important;
        background: transparent;
      }

      .ant-radio-button-wrapper {
        border-color: #ccc;
        color: #4D4D4D;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        border-right: 0;

        &:last-child {
          border-right: 1px solid #ccc;
        }
      }

      .ant-radio-button-wrapper-checked {
        background: #3C43DF !important;
        color: #fff !important;
        box-shadow: none;
      }
    }
  }
}
