@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.title {
  color: #fff;
  font-weight: bold;
  line-height: 56px;
  padding-left: 16px;
  //background-color: #CDE8FA;
  font-size: 16px;
  background: linear-gradient(to right, #1F83DF, #FCFDFF);
}

.message {
  background-color: #fff;
  border-bottom: 3px solid #108EE9;
  padding: 24px 24px 0 0;
  margin-bottom: 16px;
  word-break: break-all;
}

.superve {
  display: inline-block;
  overflow: hidden;

  :global {
    //.ant-steps{
    //  display: block;
    //}
    //.ant-steps-item{
    //  width: 17%;
    //}
    .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-description {
      max-width: 400px;
    }
  }
}

.recordList {
  text-decoration: underline;
  cursor: pointer;
  color: #1890ff;
}