@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';
@import '../../theme/darkTheme';

.title {
  color: @white;
  font-weight: bold;
  line-height: 56px;
  padding-left: 16px;
  //background-color: #CDE8FA;
  font-size: 16px;
  background: @component-background;
}

.message {
  background-color: @component-background;
  border-bottom: 3px solid @rangepicker-border;
  padding: 24px 24px 0 64px;
  //margin-bottom: 16px;
  word-break: break-all;
}

.superve {
  display: inline-block;
  overflow: hidden;

  :global {
    //.ant-steps{
    //  display: block;
    //}
    //.ant-steps-item{
    //  width: 17%;
    //}
    .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item-description {
      max-width: 400px;
    }
  }
}

.recordList {
  text-decoration: underline;
  cursor: pointer;
  color: #1890ff;
}
.xqrow{
  border-bottom: 3px solid #171A26;
}
.xqcol{
  padding: 12px;
}
