@import '~antd/lib/style/themes/default.less';
@import '../../theme/darkTheme';
@import '../../utils/utils.less';

.myNewsMessage {
  background: @component-background;
  padding: 24px;
  line-height: 38px;
}
.box{
  border-radius: 10px;
  overflow: hidden;
  margin-top: 16px;
}
.content {
  float: left;
}
.title{
  border-left: 3px solid #fff;
  color: #fff;
  font-size: 18px;
  padding-left: 16px;
}
.titles{
  border-left: 3px solid rgb(61, 99, 209);
  color: #4662D5;
  font-size: 18px;
  padding-left: 16px;
}