@import '~antd/lib/style/themes/default.less';
@import '../../theme/darkTheme';
@import '../../utils/utils.less';

.myNewsMessage {
  background: @component-background;
  padding: 24px;
}

.content {
  float: left;
}
