@import '~antd/lib/style/themes/default.less';
@import '../../theme/darkTheme';

.personTab {
  .tabDiv {
    padding: 16px;
    height: 390px;

    .contentRow {
      padding-top: 10px;
    }

    .listItem {
      .blueItems {
        .listItemContents {
          border: 1px solid @body-background;
          border-bottom: none;
          background: @body-background;
          padding: 8px;
          border-radius: 5px 5px 0 0;
          position: relative;
          color: @white;
        }
      }

      .whiteItems {
        .listItemContents {
          border: 1px solid #e8e8e8;
          border-bottom: none;
          background: #fff;
          padding: 8px;
          border-radius: 5px 5px 0 0;
          position: relative;
        }

        .sawpImg {
          padding: 12px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .sawpName {
          display: inline-block;
          height: 94px;
          padding: 12px 12px 12px 110px;
        }

        .sawpName1 {
          display: block;
          height: 35px;
          line-height: 35px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .operationButton {
        background: @menu-item-active-bg;
        border-radius: 0 0 5px 5px;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        color: @white;
      }
    }

    .stepDiv {
      padding: 40px 0 20px;
      position: absolute;
      left: 0;
      //top: 80px; // 导出功能需要去掉这个css
      width: 100%;

      :global {
        .ant-steps-item {
          flex: inherit;
        }
        .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
          background: #252c3c;
          border: 4px solid @text-color;
          width: 18px;
          height: 18px;
        }
        .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after,
        .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after{
          background:@text-color ;
        }
        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot,
        .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
          background: @component-background;
          border: 4px solid @highlight-color;
          width: 18px;
          height: 18px;
        }
        .ant-steps-dot .ant-steps-item-tail, .ant-steps-dot.ant-steps-small .ant-steps-item-tail{
          top: 5px;
          width: 90%;
          margin: 0 0 0 79px;
        }
        .ant-steps-label-vertical .ant-steps-item-content{
          margin-top: 16px;
        }
      }
    }

    .stepButtons {
      position: absolute;
      right: 20px;
      bottom: 150px;

      img {
        width: 50px;
        height: 50px;
        display: inline-block;
      }

      .showButton {
        cursor: pointer;
      }

      .disableButton {
        cursor: not-allowed;
      }
    }
  }

  :global {
    .ant-tabs-bar {
      margin: 0;
    }

    .ant-tabs-content {
      border: 1px solid #e8e8e8;
      border-top: none;
    }

    .ant-steps-label-vertical .ant-steps-item-description {
      text-align: center;
    }
  }

  .tag {
    padding: 0 10px;
    border-radius: 5px;
    //background: #fff;
    border: 1px solid #f5222d;
    color: #f5222d;
    text-align: center;
  }

  .tagBlue {
    display: block;
    border-radius: 5px;
    //background: #fff;
    border: 1px solid #1890ff;
    color: #1890ff;
    text-align: center;
  }
}
.NameShow{
  :global{
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
      border: 0;
      border-right: 1px solid @component-background!important;
      background: @body-background;
      height: 34px;
      line-height: 34px;
      &:last-child{
        border-right: 0;
      }
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
      background: @highlight-color;
    }
    .ant-tabs-nav-wrap{
      position: absolute;
      right: 0;
      border-radius: 4px;
    }
    .ant-tabs-content{
      border: 0;
      color: @white;
    }
    .ant-tabs-bar{
      border: 0;
    }
    .ant-tabs-ink-bar{
      background: @transparent!important;
    }
  }
}